.form__connect-button
{
	width: 100%;
	height: 2.25rem;
  border-radius: var(--form-border-radius);
  background-color: #1cc3ea;
  color:white;
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  margin-bottom:var(--space-between-block);
  border:none;
  cursor:pointer;
  
}