@import url('index.css');

.form_align_center
{
	text-align: center;
}
.form-header__forgot-password
{ 
  font-family: poppins-black;
  font-size: 1.5rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #707070;
}
.form-header p
{
	margin: var(--space-between-block);
}