@import url('index.css');
.main
{

}

.center-container
{
	display: flex;
	flex-flow:row; 
	justify-content:center;
	align-items: center;
	margin: 5rem 5rem 0 0;
}
.center-container__right-block
{
	width: var(--form-size-witdh);
	background-color:var(--form-bg-color);
	padding: var(--space-between-block);
	border-radius: var(--form-border-radius);	
}
.center-container__left-block
{
	color: white; 
	width: var(--form-size-witdh);
}
.center-container__left-block-down > :first-child
{
  font-family: poppins-black;
  font-size: var(--font-size-1);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.center-container__left-block-down > :nth-child(2) a
{
	display: inline-block;
	margin: var(--space-between-block);
}
