.header
{
	display: flex;
	position: fixed;
	top:0;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
  	height: var(--footer-height);
  	background-color: var(--white);
 	 box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
 	 box-sizing: border-box;
}

.header__item
{
	display: inline-block;
	margin:0 var(--space-between-block) 0 var(--space-between-block);
	font-size: 0.75rem;
  	font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1;
  	letter-spacing: normal;
  	color: var(--aqua-70);
}