@import url('./variables.css');
@import url('./setup-footer.css');
@import url('font.css');
@import url('./setup-header.css');
@import url('./setup-form.css');


html,body,main
{
	margin:0;
	font-family: poppins-medium;
	box-sizing: border-box;
	height: 100%;
}

.main
{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	height: 100%;
}