:root
{
	/* variables */
	--space-between-block:1rem;
	--background-image:url('../imgs/Background.png');
	--background-image-setup-finish:url('../imgs/confettis@4x.png');
	/* form variables */
		--form-border-radius:5px;
		--form-size-witdh:25rem;
		--form-bg-color:white;
	--font-size-0:0.625rem; /*10px*/
	--font-size-1:1.25rem; /*20px*/
	--form-input-padding:1rem;

	/*footers variables*/
	--footer-height: 2.5rem;
	--footer-padding:0.375rem;

	/* colors */
	--aqua-70: #1cc3ea;
	--white:#fff;
	--gray:#95989a;
	--black:#000000;
	--grey:#95989a;
}
