<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../css/authentification/forgot.css">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Mot de passe oublié</title>
</head>
<body>
	<main class="main main_background">
		<!--header-->
			<header class="header">
				<div class="header_col_1">
					<a href=# class="header__logo_style header__logo_size-small">Duegho</a>
				</div>

				<div class="header_col_2">
					<a href=#>Connexion</a>
					<a href=# class="header__inscription_color-w">Inscription</a>
				</div>
			</header>
		<!--header-->

		<!--section-->
			<section class="login__form-container">
				<!-- form body-->
					<div class="login__form-container__2 login__form-container__2_background login__form-container__2_align_center">
						<!-- form header -->
								<div class="form-header">	
										<a class="header__logo_style header__logo_size-big">Duegho</a>
										<p class="form-header__forgot-password">Mot de passe oublié</p>
								</div>
						<!-- form header -->
						<!--the form-->
							<form class="form form_align_center ">
								<!-- email-->	
									<input id="number" type="text" placeholder="Entrer votre numéro de téléphone" class="form__input form__input_margin"/>
								<!-- email-->

								<button class="form__connect-button" id="submitButton">ENVOYER</button>
							</form>
						<!--the form-->
						<!-- form's bottom -->
							<div class="form-bottom form-bottom_size">
								Retour à l'accueil
							</div>
						<!-- form's bottom -->	
					</div>
					<!-- form's bottom -->
							<div class="form-home">
								Retour à l'accueil
							</div>
						<!-- form's bottom -->	
				<!-- form body-->
			</section>
		<!--section-->

		<!-- footer -->
			<footer class="footer footer_background footer_size">
				<a href=# class="footer__item">À Propos</a>
				<a href=# class="footer__item">Développeurs</a>
				<a href=# class="footer__item">Blog</a>
				<a href=# class="footer__item">Aide</a>
				<a href=# class="footer__item">Cookies</a>
				<a href=# class="footer__item">Confidentialité</a>
				<a class="footer__item" href=# >Conditions d'utilisations</a>
				<button class="footer__item footer__item_button">FR</button>
			</footer>
		<!-- footer -->
	</main>

</body>
</html>