<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../css/register.css">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<title>Inscription</title>
</head>

<body>
	<main class="main main_background">
		<!--header-->
			<header class="header">
				<div class="header_col_1">
					<a href=# class="header__logo_style header__logo_size-small">Duegho</a>
				</div>

				<div class="header_col_2">
					<a href=#>Connexion</a>
					<a href=# class="header__inscription_color-w">Inscription</a>
				</div>
			</header>
		<!--header-->
		<!-- body -->
			<section class="center-container">
				<!--paykap_duegho_fricacoin-->
					<div class="center-container__left-block">
						<!--paykap_duego-->
							<div class="form-title
 								center-container__left-block-up">Connectez-vous à votre compte<a href=# class="header__logo_style header__logo_size-medium">Duegho</a></br>
								<span class="to-paykap_style">continuer vers</span>
								<a href=# class="paykap_style">PayKap</a>
							</div>
						<!--paykap_duego-->
						<!--duegho_frication-->
						<div class="center-container__left-block-down">
							<p>Un seul compte, Tout l'univers à </br>vous.</p>
							<p><a href=# class="paykap_style">Duegho</a><a href="" class="paykap_style">PayKap</a><a href="" class="paykap_style">Fricacoin</a></p>
						</div>
						<!--duegho_frication-->
					</div>
				<!--paykap_duegho_fricacoin-->
				<!-- form body -->
					<div class="center-container__right-block">
						<!--the form-->
							<div class="center-container_right-block">
								<form class="form form_align_left">
									<!-- last name -->
										<input id="last_name" type="text" placeholder="Prénom" class="form__input form__input_margin"/>
									<!-- last name -->
									
									<!-- first name -->
										<input id="first_name" type="text" placeholder="Nom" class="form__input form__input_margin"/>
									<!-- first name -->
									<!-- email-->
										<input id="email" type="text" placeholder="Adresse email" class="form__input form__input_margin"/>
									<!-- email-->

									<!-- number -->
										<div class="form__number form__input_margin">
											<select class="form__number_select"><option>+237</option></select>
											<input id="number" type="number" placeholder="Numéro de téléphone" class="form__input_number_style"/>
									</div>
									<!-- number -->

									<!-- password-->
									    <div class="form__password">
												<input id="password" type="password" placeholder="mot de passe" class="form__input form__input_password_style"/>
												<button id="showOrHidePassword" class="material-icons form__input_showPassword" type="button">visibility_off</button>
										</div>
									<!-- password -->
									<span class="form__requirement form__input_margin">Doit contenir au minimum 6 caractères</span>
									<button class="form__connect-button">S'INSCRIRE</button>
								</form>
							</div>
						<!--the form-->

						<!-- form's bottom -->
							<div class="form-bottom form-bottom_size">
								Vous avez déjà un compte?<a href=# class="form-bottom__inscription-button">Connectez-vous</a>
							</div>
						<!-- form's bottom -->
					</div>
				<!-- form body -->
			</section>
		<!--body-->
		<!-- footer -->
			<footer class="footer footer_background footer_size">
				<a href=# class="footer__item">À Propos</a>
				<a href=# class="footer__item">Développeurs</a>
				<a href=# class="footer__item">Blog</a>
				<a href=# class="footer__item">Aide</a>
				<a href=# class="footer__item">Cookies</a>
				<a href=# class="footer__item">Confidentialité</a>
				<a class="footer__item" href=# >Conditions d'utilisations</a>
				<button class="footer__item footer__item_button">FR</button>
			</footer>
		<!-- footer -->
	</main>
<script type="text/javascript" src="../helpers/registerHelper.js"></script>
</body>
</html>