<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../css/setup.css">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Importation de contacts</title>
</head>
<body>
	<main class="main">
		<!-- header -->
			<header class="header">
				<span class="header__item" >Validation de compte</span>
				<span class="header__item" >Informations supplémentaires</span>
				<span class="header__item"  style="color:black;">Importation de contacts</span>
				<span class="header__item" style="color:black;">Terminé</span>
			</header>
		<!-- header -->


		<!-- section -->
			<section class="main__container">
				<div>
					<form class="form">
							<label for="email" class="form__label">Adresse email de récupération (facultatif)</label>
							<input class="form__input form__input_margin" type="email" placeholder="Adresse email de récupération (facultatif)" id="email" name="email"/>
							<label for="number1" class="form__label">Num. téléphone 2 (facultatif)</label>
							<div class="form__number form__input_margin">
									<div class="form__number_select">
											<img src="../../imgs/flag@3x.png" class="form__number_country_code" alt="country code" />
										<select  name="countryCode"><option value="+237" >+237</option></select>
									</div>
								<input id="number1" name="number1" type="tel" placeholder="699000189" class="form__input_number_style"/>
							</div>
							<label for="number2" class="form__label">Num. téléphone 3 (facultatif) </label>
							<div class="form__number form__input_margin">
									<div class="form__number_select">
											<img src="../../imgs/flag@3x.png" class="form__number_country_code" alt="country code" />
										<select  name="countryCode"><option value="+237" >+237</option></select>
									</div>
								<input id="number2" name="number2" type="tel" placeholder="699023475" class="form__input_number_style"/>
							</div>
					</form>
				</div>

			</section>
		<!-- section -->


		<!-- footer -->
			<footer class="footer">
				<div class="footer__container">
					<button class="footer__button">Ignorer</button>
					<button class="footer__button">Suivant</button>
				</div>
			</footer>
		<!-- footer -->
	</main>
</body>
</html>