<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../css/setup/setup-terminer.css"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Terminé</title>
</head>
<body>
	<main class="main">
		<!-- header -->
			<header class="header">
				<span class="header__item" >Validation de compte</span>
				<span class="header__item" >Informations supplémentaires</span>
				<span class="header__item">Importation de contacts</span>
				<span class="header__item">Terminé</span>
				<!-- for phone-->
					<span class="header__item_phone">Terminé</span>
				<!-- for phone-->
			</header>
		<!-- header -->
		<!-- nav -->
			<nav class="progress-bar"></nav>
		<!-- nav -->
		<!-- section -->
			<section>
				<div class="main__container">
					<h1 class="main__title">Yeah!!! C'est fini</h1>
					<p class="main__message">La configuration de votre compte est à présent fini.Appuyer sur Démarrer ou patientez quelques secondes pour être reconduit sur votre compte</p>
				</div>
			</section>
		<!-- section -->
		<!-- footer -->
			<footer class="footer">
				<div class="footer__container">
					<button class="footer__button">Démarrer</button>
				</div>
			</footer>
		<!-- footer -->
	</main>
</body>
</html>