@import url('index.css');

.form_align_center
{
	text-align: center;
}
.form-header__forgot-password
{ 
  font-family: poppins-black;
  font-size: 1.5rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #707070;
}
.form-header p
{
	margin: var(--space-between-block);
}

/* phones */
  @media(max-width: 640px)
  {
    .header__logo_style
    { 
      display: none;
    }
    .form-home
    {
      display:  block;
      margin-top: 1rem;
      font-size: 0.75rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: var(--white);    
    }
    .login__form-container
    {
      position: relative;
      top:50%;
      transform: perspective(1px) translateY(-50%);
    }
  }
/* phones */