.form__input 
{
	width: 100%;
   display: block;
  height: 2.25rem;
  border-radius: var(--form-border-radius);
  background-color: #ffffff;
  border: solid 1px #95989a;
  padding: 0 0.3125rem 0 0.3125rem;
  box-sizing: border-box;

}
.form__input_margin
{
	margin-bottom:var(--space-between-block);
}
.form-bottom__inscription-button
{

}