.form__input 
{
	width: 100%;
   display: block;
  height: 2.25rem;
  border-radius: var(--form-border-radius);
  background-color: #ffffff;
  border: solid 1px #95989a;
  padding: 0 0.3125rem 0 0.3125rem;
  box-sizing: border-box;
}
::placeholder
{
	color: var(--gray);
}
.form__input_margin
{
	margin-bottom:var(--space-between-block);
}
.form-bottom__inscription-button
{

}
.form__input_showPassword
{
  align-self: 	center;
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 8px;
  letter-spacing: normal;
  color: var(--gray);
  margin-right: 1rem;
}
.form__input_password_style
{
	border:0;
}