.header
{
	display: flex;
	padding:0rem 10rem 0 10rem;

}
.header__logo_style
{
  font-family: poppins-BlackItalic;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  letter-spacing: normal;
  color: #1cc3ea;
  text-decoration: none;
  

}
.header__logo_size-small
{
	font-size: 1.25rem;
}
.header__logo_size-medium
{
	font-size: 1.75rem;
}

.header_col_1
{
	line-height: 50%;
	width: 50%;
	text-align: left;
}

.header_col_2
{
	width: 50%;
	text-align: right;
	font-size: 0.75rem;
  	font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1;
  	letter-spacing: normal;
}
header a
{
	display: inline-block;
	margin: var(--space-between-block) var(--space-between-block) 0 2rem;
	text-decoration: none;
	color: #1cc3ea;

}
.header__inscription_color-w
{
	color:white;
}
