@import url('./setup.css');
	

.main__container
{
	width: 37.8125rem;
	box-sizing: border-box;
	padding: var(--space-between-block);
	text-align: center;
}
.import_message
{
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  font-family: poppins-regular;
  color: var(--grey);
}
.import_title
{
  font-size: 1.25rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #000000;
}
#import1
{
	color:#f1263b;
}
#import2
{
	color:#4c67ee;
}
#import3
{
	color:#5e3cd1;
}
.import__buton
{
	font-family: poppins-regular;
	font-size: 0.75rem;
}

/* phone */
  @media(max-width: 640px)
  {
    .main__container
    {
      width: var(--form-size-with-phone);
    }
    .import_message
    {
      display: none;
    }
    
    .progress-bar
    {
      width: 60%;
    }
    .progress-bar-container
    {
      display: block;
    }
  }
/* phone */
