<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../css/setup/setup-contact.css"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Importation de contacts</title>
</head>
<body>
	<main>
		<!-- header -->
			<header class="header">
				<span class="header__item" >Validation de compte</span>
				<span class="header__item" >Informations supplémentaires</span>
				<span class="header__item" >Importation de contacts</span>
				<span class="header__item" style="color:black;">Terminé</span>
				<!-- for phone-->
					<span class="header__item_phone">Importation de contacts</span>
				<!-- for phone-->
			</header>
		<!-- header -->
		
		<!-- section -->
			<section class="main">
				<!-- nav progress bar -->
				<div class="progress-bar-container"><nav class="progress-bar"></nav></div>
				<!-- nav progress bar -->
				
				<div class="main__container import">
					<h1 class="import_title">Voulez-vous importer vos contacts</h1>
					<h1 class="import_title-phone">Importer vos contacts</h1>
					<h2 class="import_message">importer vos contacts vous permettra de démarrer votre expérience sur Duegho sans vous sentir seul</h2>
					<div class="main__import">
						<button id="import1" class="import__button form__input form__input_margin">Importer vos contacts depuis Google</button>
						<button id="import2" class="import__button form__input form__input_margin">Importer vos contacts depuis Outlook</button>
						<button id="import3" class="import__button form__input form__input_margin">Importer vos contacts depuis Yahoo!</button>
					</div>
				</div>
			</section>
		<!-- section -->
		<!-- footer -->
			<footer class="footer">
				<div class="footer__container">
					<button class="footer__button">Ignorer</button>
					<button class="footer__button">Suivant</button>
				</div>
			</footer>
		<!-- footer -->
	</main>
</body>
</html>